@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0A0908;
  --teal: #55A5BC;
  --tangerine: #FEAC71;
  --sage: #C6E2B6;
  --slate: #444444;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.font-poppins {
  font-family: var(--font-poppins);
}

.font-dm {
  font-family: var(--font-dm);
}